<div>
タスク名：<%= f.text_field :title, value: @task.title, placeholder: 'タスク名' %><br><br>
期限(任意)：<%= raw sprintf(f.datetime_select(:deadline, 
value: @task.deadline, use_month_numbers: true,
minute_step: 10, date_separator: '%s', datetime_separator: '%s', time_separator: '%s'), '年 ', '月 ', '日 ', '時 ') + '分' %>
</div>